body{
    font-family: "Roboto", "Helvetica";
    font-size: 18px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-1,
.section-2,
.section-3,
.section-4,
.header,
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 16px 0;
}

.heading{
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header{
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    gap: 200px;
    height: 100px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}


.section-1{
    background-color: #1F2937;
    flex-direction: row;
    padding: 60px;
}

.section-2{
    flex-direction: column;
    padding-bottom: 80px;
}

.section-3{
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 60px;
}

.section-4{
    padding: 80px;
}

.left-side,
.right-side{
    display: flex;
    width: 500px;
}

.left-side{
    flex-direction: column;
}

.right-side{
    border: 1px solid black;
}

img{
    height: 200px;
    width: 200px;
}

button{
    background-color: #3882f6;
    width: 100px;
}

.main-text{
    font-size: 48px;
    padding: 0;
    margin: 0;
}

.info-boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.sub-text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.info{
    color: #1F2937;
    text-align: center;
}

.quote{
    width: 800px;
    font-size: 36px;
    font-style: italic;
    padding: 0;
    margin: 0;
}

.author-box{
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: end;
}
.author{
    padding: 0;
    margin: 0;
    font-weight: bolder;
}

.modal{
    background-color: #3882f6;
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
    width: 800px;
    justify-content: space-evenly;
}
.modal-text{
    padding: 30px;
}
.text-1{
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.text-2{
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.sign-up{
    color: white;
    padding: 10px 20px;
}

.modal-button{
    border: 2px solid white;
}

.footer{
    background-color: #1F2937;
}